.get-started-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 40px;
  padding: 12px 20px;
  border-radius: 27.371px;
  border: 2.649px solid transparent;
  background: linear-gradient(#ffffff, #FFF) padding-box, linear-gradient(45deg, #7CDAFF, #6D99FF) border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 550;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  color: #000;

}

/* Hover Effect for Hollow Button */
.get-started-button:hover {
  color: #ffffff; 
  background: linear-gradient(86deg, #8FDFFF, #6D99FF) padding-box;
  border: 2.649px solid transparent;
  transform: translateY(-2px); /* Slight lift */

}
