.cloudMascotContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pillGradBg {
    width: 100%;
    height: 3248px; /* Reverted to previous height */
    border-radius: 992px;
    background: linear-gradient(181deg, #8FDFFF -6.87%, #4BCCFF 59.09%, #769FFF 97.87%);
    box-shadow: 0px 15px 40.3px -12px rgba(0, 0, 0, 0.19) inset;
}

.pillContainer {
    position: relative;
}

.sunImage {
    position: absolute;
    top: 400px; /* Adjust as needed */
    right: 50px; /* Adjust as needed */
    z-index: 1;
    width: 30%;
}

.rainbowImage {
    position: absolute;
    top: 900px; /* Adjust as needed */
    left: 0px; /* Adjust as needed */
    z-index: 1;
    width: 30%;
}

.bottomCloudImage {
    position: absolute;
    bottom: -100px; /* Adjusted to lift the cloud up */
    left: 0;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    z-index: 2; /* Make sure it's on top of the pill */
}
.whyCareFlow{
    width: 100%;
}

.bottomCloudImage{
    width: 100%;
}
