@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter.woff2') format('woff2'),
       url('/fonts/inter.woff') format('woff'),
       url('/fonts/inter.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.navHeader {
    color: #000000;
    font-family: Inter;
    font-size: 16.262px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 9vw 4vh 0;
    width: 100%; /* Ensure the nav bar takes the full width */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.rightHeader {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.leftHeader {
    display: flex;
    align-items: center;
    gap: 1.5vw; /* Adjust gap for more items */
}

.profile-button {
  border-radius: 50%;
  width: 40x; /* Match the height of the logo */
  height: 40px; /* Match the height of the logo */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 0;
  overflow: hidden; /* This will crop the image */
}

.profile-button img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will scale the image to fit the container */
}

.get-started-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 40px;
  padding: 12px 20px;
  border-radius: 27.371px;
  border: 2.649px solid transparent;
  background: linear-gradient(#ffffff, #FFF) padding-box, linear-gradient(45deg, #7CDAFF, #6D99FF) border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 550;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  color: #000;

}

/* Hover Effect for Hollow Button */
.get-started-button:hover {
  color: #ffffff; 
  background: linear-gradient(86deg, #8FDFFF, #6D99FF) padding-box;
  border: 2.649px solid transparent;
  transform: translateY(-2px); /* Slight lift */

}

.homeLogo {
  width: 196px;
  height: 40px;
  flex-shrink: 0;
  margin-left: 4vw;
}






.button {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #000000;
}

.button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #6D99FF;
    transition: width 0.3s ease;
}

.button:hover::after {
    width: 100%;
}
